.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 25px
}

.input-wrapper label {
    font-size: 16px;
    color: #000;
    margin: 0 0 6px
}

.input-wrapper input,.input-wrapper label {
    font-family: "DeutscheBankText-Regilar",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 23px
}

.input-wrapper input {
    width: 359px;
    height: 48px;
    padding: 12px 16px;
    border: 1px solid #949494;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 18px;
    color: #4f4f4f
}

.input-wrapper input:focus-within {
    background: #fff;
    border: 1px solid #0098db;
    box-shadow: 0 1px 4px rgba(71,217,249,.5)
}

.input-wrapper .MuiInputBase-root {
    border: 1px solid #949494;
    padding-right: 0
}

.input-wrapper .MuiInputBase-root.Mui-focused {
    border: 1px solid #0098db;
    box-shadow: 0 1px 4px rgba(71,217,249,.5)
}

.input-wrapper .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
    border: 0
}

.input-wrapper .MuiInputBase-root input {
    border: none;
    width: 221px;
    height: 45px
}

.input-wrapper .MuiInputBase-root input:focus-within {
    border: none;
    box-shadow: none
}

@media (min-width: 280px) and (max-width:639px) {
    .input-wrapper .MuiInputBase-root input {
        width:100%
    }
}

.input-wrapper .MuiFormControl-root.error .MuiInputBase-root {
    border: 1px solid #e4002b;
    box-shadow: 0 1px 4px rgba(228,0,43,.4)
}

.input-wrapper .MuiFormControl-root p.Mui-error {
    display: none
}

.MuiAutocomplete-root,.MuiAutocomplete-root input {
    height: 11px
}

.MuiAutocomplete-root .MuiOutlinedInput-notchedOutline,.MuiAutocomplete-root input .MuiOutlinedInput-notchedOutline {
    border: 1px solid #949494
}

.MuiAutocomplete-inputRoot[class*=MuiOutlinedInput-root] {
    margin-top: 12px;
    padding: 8px
}

input.large {
    width: 766px
}

input.error {
    border: 1px solid #e4002b;
    box-shadow: 0 1px 4px rgba(228,0,43,.4)
}

.message-wrapper {
    display: flex;
    flex-direction: column
}

.error-msg {
    font-family: "DeutscheBankText-Regilar",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 8px 0 0;
    color: #e4002b;
    position: absolute
}

@media (min-width: 640px) {
    .input-wrapper label {
        font-size:18px;
        margin: 0 0 10px
    }

    .input-wrapper input {
        height: 48px
    }
}

button {
    border: none;
    padding: 7px 31px;
    border-radius: 3px;
    font-family: "DeutscheBankText-Regilar",sans-serif;
    -webkit-transition: color .5s,background-color .5s;
    transition: color .5s,background-color .5s;
    cursor: pointer;
    outline: none
}

button.small {
    padding: 7px 15px;
    font-size: 15px
}

button.medium {
    font-size: 16px;
    padding: 12px 74px
}

@media (min-width: 640px) {
    button.medium {
        font-size:20px
    }
}

button.large {
    font-size: 20px;
    padding: 12px 31px
}

button.white {
    background: #e9f0f6;
    color: #0018a8
}

button.blue {
    background: #0018a8;
    color: #fff
}

button:hover {
    color: #fff;
    background: #4f4f4f
}

.button-wrap,.clipboard-copy-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

.rectangle-hook {
    margin-top: 4px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.clipboard-copy,.rectangle-hook {
    position: absolute;
    background: #4f4f4f
}

.clipboard-copy {
    padding: 4px 6px;
    margin-top: 6px;
    border-radius: 3px;
    font-family: "DeutscheBankText-Regilar",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    min-width: 138px;
    text-align: center
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.tabs .button-wrap {
    margin: 0;
    width: 100%;
    padding: 0!important;
    height: 46px;
    display: flex;
    align-content: center;
    align-items: inherit
}

.search-page {
    max-width: 595px;
    margin: 0 16px;
    background: #fff
}

.search-page h2 {
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 24px
}

.search-page h2,.search-page h3 {
    font-family: "DeutscheBankText-Regilar",sans-serif;
    color: #0018a8
}

.search-page h3 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 8px
}

.search-page h4 {
    font-size: 16px;
    line-height: 20px
}

.search-page h4,.search-page h6 {
    font-family: "DeutscheBankText-Regilar",sans-serif;
    margin: 0 0 4px
}

.search-page h6 {
    font-size: 14px;
    line-height: 18px;
    color: #4f4f4f
}

.search-page p {
    font-family: "DeutscheBankText-Regilar",sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #000
}

.search-page hr {
    margin: 24px 0 0;
    border: 1px 0 0;
    color: 1px solid #e0e6e6
}

.search-page .tabs {
    margin: 42px 0 39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.search-page .tabs button {
    padding: 12px 0
}

.search-form-wrapper {
    max-width: 592px;
    margin: 52px auto 46px;
    background: #fff;
    position: relative
}

.search-form {
    max-width: 595px;
    height: 548px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    background: #fff
}

form {
    margin: 20px;
    padding: 20px
}

form .button-wrap {
    margin-top: 15px
}

.form-element {
    display: flex;
    justify-content: space-between;
    position: relative
}

.form-element input {
    max-width: 592px;
    width: 100%
}

.form-element .tooltip-info-wrapper {
    position: absolute;
    right: calc(100% - 170px);
    top: 2px
}

.form-element .tooltip-info-wrapper .tooltip-copy {
    position: absolute;
    display: none;
    margin-top: 6px;
    border-radius: 3px;
    line-height: 18px;
    font-family: "DeutscheBankText-Regilar",sans-serif;
    width: 220px;
    padding: 14px 16px;
    font-size: 11px;
    background-color: #e9f0f6;
    color: #000;
    left: -100px;
    top: 18px;
    z-index: 1
}

.form-element .tooltip-info-wrapper .tooltip-copy:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #e9f0f6;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 105px
}

.form-element .tooltip-info-wrapper:after {
    content: "";
    width: 23px;
    height: 23px;
    display: inline-block;
    background: url(/static/payment-tracker/static/media/info-tooltip.1880b525.svg) no-repeat;
    vertical-align: middle
}

.form-elements-wrapper {
    display: flex;
    flex-direction: column
}

@media (min-width: 640px) {
    .search-page {
        margin:0 auto;
        max-width: 1024px;
        background: #fff
    }

    .search-page h3 {
        margin: 0 0 16px;
        font-size: 30px
    }

    .search-page h4 {
        font-size: 18px
    }

    .search-page p {
        font-size: 24px;
        line-height: 34px
    }

    .tabs {
        margin: 30px 0 24px;
        flex-direction: row
    }

    .tabs button {
        padding: 12px 0
    }

    .page-intro {
        margin: 0 0 48px
    }

    .search-form {
        width: 1024px
    }

    form {
        margin: 20px;
        padding: 20px
    }

    form .button-wrap {
        margin-top: 36px
    }

    .form-element input {
        width: 592px
    }

    .form-element .tooltip-info-wrapper {
        right: 90px;
        top: 4px
    }

    .form-element .tooltip-info-wrapper .tooltip-copy {
        left: 25px;
        top: -20px
    }

    .form-element .tooltip-info-wrapper .tooltip-copy:before {
        top: 20px;
        left: -3px
    }

    .form-element .tooltip-info-wrapper:hover {
        cursor: pointer
    }

    .form-element .tooltip-info-wrapper:hover .tooltip-copy {
        display: block
    }

    .form-elements-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .form-elements-wrapper input {
        width: 280px
    }
}

.dropdown-wrapper {
    width: 280px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 1px
}

@media (min-width: 280px) and (max-width:639px) {
    .dropdown-wrapper {
        width:100%
    }
}

.dropdown-wrapper label {
    font-size: 18px
}

.dropdown-wrapper .message-wrapper {
    margin-top: 50px
}

.MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid #0098db!important;
    box-shadow: 0 1px 4px rgba(71,217,249,.5);
    border-width: 1px
}

.MuiAutocomplete-root.error .MuiInputBase-root {
    border: 1px solid #e4002b;
    box-shadow: 0 1px 4px rgba(228,0,43,.4)
}

.MuiAutocomplete-root.error .MuiOutlinedInput-notchedOutline {
    border: none!important
}

.wrapper {
    margin: 52px auto;
    padding: 0 16px;
    max-width: 1024px
}

@media (min-width: 640px) {
    .wrapper {
        padding:0
    }
}

.flex-default {
    display: flex;
    flex-direction: column
}

@media (min-width: 640px) {
    .flex-default {
        flex-direction:row;
        flex-wrap: wrap
    }
}

.display-none {
    display: none!important
}

.results {
    background-color: #fff
}

.results .inner {
    max-width: 595px;
    margin: 0 auto;
    position: relative
}

.results .main-title {
    font-size: 24px;
    color: #0018a8;
    padding: 0 0 32px
}

.results .section-title {
    font-size: 20px
}

.results .entry-wrapper {
    white-space: nowrap
}

.results .entry-wrapper h5 {
    color: #4f4f4f;
    font-size: 14px
}

.results .entry-wrapper p,.results .entry-wrapper time {
    font-size: 16px;
    color: #000;
    margin-top: 5px
}

.results .clipboard-copy-wrapper {
    margin-left: 50px
}

.results .search-cnt .header-section {
    display: flex;
    justify-content: space-between
}

.results .search-cnt .header-section .section-title:after {
    content: "";
    background: url(/static/payment-tracker/static/media/dropdown-icon.48148595.svg) no-repeat;
    background-size: cover;
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 6px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out
}

.results .search-cnt .header-section .section-title.active:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.results .search-cnt .toggle {
    -webkit-transition: height .35s ease-in,opacity .25s ease-in,margin .35s ease-in;
    transition: height .35s ease-in,opacity .25s ease-in,margin .35s ease-in
}

.results .search-cnt .js-show.toggle {
    height: auto;
    opacity: 1;
    visibility: visible
}

.results .search-cnt .js-close.toggle {
    height: 0;
    opacity: 0;
    visibility: hidden
}

.results .search-cnt .search-details {
    padding: 0 16px
}

.results .search-cnt .search-details .entry-wrapper {
    margin-top: 16px
}

.results .search-cnt .search-details:first-child {
    margin-top: 18px
}

.results .history-cnt {
    margin-top: 24px;
    background-color: #e9f0f6;
    padding: 16px 16px 30px
}

.results .history-cnt .section-title.not-found {
    display: block;
    margin-bottom: 16px
}

.results .history-cnt .not-found .error-icon {
    display: inline-block
}

.results .history-cnt .not-found .error-icon:before {
    content: "";
    width: 23px;
    height: 23px;
    display: inline-block;
    background: url(/static/payment-tracker/static/media/error-icon.1c35d03e.svg) no-repeat;
    padding-right: 16px;
    margin-right: 8px;
    vertical-align: middle
}

.results .history-cnt .not-found a {
    text-decoration: underline;
    color: #000
}

.results .history-cnt .transaction-details .details-entry {
    margin-top: 24px
}

.results .history-cnt .transaction-details .details-entry:first-child .entry-wrapper p {
    display: inline-flex;
    align-items: center
}

.results .history-cnt .transaction-details .details-entry:first-child .entry-wrapper p:before {
    content: "";
    width: 23px;
    height: 23px;
    display: inline-block;
    background: url(/static/payment-tracker/static/media/tick-icon.817d8341.svg) no-repeat;
    padding-right: 16px;
    margin-right: 8px
}

.results .history-cnt .transaction-details .details-entry:first-child .entry-wrapper p.progress:before {
    background: url(/static/payment-tracker/static/media/inprogress-icon.6a0da761.svg) no-repeat
}

.results .history-cnt .transaction-details .details-entry:first-child .entry-wrapper p.rjct:before {
    background: url(/static/payment-tracker/static/media/rejected-icon.4a394f9a.svg) no-repeat
}

.results .history-cnt .transaction-details .details-entry:nth-child(2) {
    order: 1
}

.results .history-cnt .transaction-details .details-entry:nth-child(2) .button-wrap {
    align-items: flex-start;
    margin-top: 4px
}

.results .history-cnt .copy-not-supported {
    font-size: 14px;
    margin-top: 5px
}

@media (min-width: 640px) {
    .results .main-title {
        font-size:30px
    }

    .results .section-title {
        font-size: 24px
    }

    .results .search-cnt .header-section .section-title {
        pointer-events: none
    }

    .results .search-cnt .header-section .section-title:after {
        display: none
    }

    .results .search-cnt .header-section .button-wrap {
        margin-right: 20px
    }

    .results .search-cnt .js-close.toggle {
        height: auto;
        opacity: 1;
        visibility: visible
    }

    .results .search-cnt .search-details {
        justify-content: space-between;
        padding: 0
    }

    .results .search-cnt .search-details .details-entry {
        width: 130px
    }

    .results .search-cnt .search-details:first-child {
        padding: 0;
        margin-top: 0
    }

    .results .search-cnt .search-details:first-child .details-entry:first-child {
        width: 396px
    }

    .results .history-cnt {
        min-height: 255px;
        padding: 25px 0 35px
    }

    .results .history-cnt .transaction-details {
        justify-content: space-between;
        margin-top: 2px
    }

    .results .history-cnt .transaction-details .details-entry {
        width: 150px;
        margin-top: 14px
    }

    .results .history-cnt .transaction-details .details-entry:first-child {
        width: 396px
    }

    .results .history-cnt .transaction-details .details-entry:nth-child(2) {
        order: 0
    }

    .results .history-cnt .transaction-details .details-entry:nth-child(2) .entry-wrapper,.results .history-cnt .transaction-details .details-entry:nth-child(3n+5) .entry-wrapper {
        margin-left: 20px
    }
}

@font-face {
    font-family: "DeutscheBankText-Regular";
    src: url(/static/payment-tracker/static/media/DeutscheBankText_W_Rg.2eba8f52.woff) format("woff"),url(/static/payment-tracker/static/media/DeutscheBankText_W_Rg.230c2db9.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,summary,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    border: none;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

html {
    box-sizing: border-box
}

*,:after,:before {
    box-sizing: inherit
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,time,video {
    display: inline-block
}

body {
    margin: 0
}

ul {
    list-style-type: none
}

a {
    background: transparent;
    text-decoration: none
}

button,input {
    line-height: normal
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

input:focus,textarea:focus {
    outline: 0
}

input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

body {
    font-family: "DeutscheBankText-Regilar",sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none
}

/*# sourceMappingURL=main.236c26f1.chunk.css.map */
